.header {
  max-width: 1200px;
  margin: 0 auto;
}

.header__navbar {
  display: flex;
}

.header__navbar-link {
  color: rgb(239, 252, 61);
  padding: 0;
  margin: 20px 0;
  text-decoration: none;
  font-size: 35px;
  font-weight: 900;
}

.header__cart {
  position: relative;
  background-image: url('../../images/cart.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%;
  outline: 0;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header__cart-total {
  position: absolute;
  top: -10px;
  right: -10px;
  display: none;
  margin: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(206, 7, 47);
  width: 27px;
  line-height: 27px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  padding-right: 1px;
}

.header__cart-total::before {
  content: ''; /* Добавляем символ */
  border-radius: 50%; /* Расстояние от текста до маркеров */
  background-color: rgb(206, 7, 47);
  border-radius: 20%;
}

.header__cart-total::after {
  content: ''; /* Добавляем символ */
  border-radius: 20%; /* Расстояние от текста до маркеров */
  background-color: rgb(206, 7, 47);
}

.header__cart-total_enabled {
  display: block;
}

.link-decor {
  color: inherit;
  text-decoration: inherit;
}

.link-decor:hover {
  opacity: 0.8;
}

.cart-position {
  margin: 20px 0 0 auto;
}
